pip
bumpversion==0.5.3
wheel==0.30.0
watchdog==0.8.3
flake8==3.5.0
tox==2.9.1
coverage==4.5.1
Sphinx==1.7.1
twine==1.10.0
pytest==3.4.2
pytest-runner==2.11.1
torch==0.4.1
torchvision==0.2.1
imutils==0.4.6
matplotlib==2.1.2
requests==2.11.1
numpy==1.14.5
ipython==6.5.0
Pillow==5.2.0
opencv-python
tox-travis
tqdm
